
body {
    font-family: 'Crimson Pro', serif;
    background: -webkit-linear-gradient(to right, #DDD, rgb(150, 253, 248), #5afa97);
    background: linear-gradient(to right, #DDD, rgb(150, 253, 248), #5afa97);
}
body .logo{
    float: left;
    margin: 5px;
    width:  105px;
    }
    body .logo img{
    width: 100%;
    }


h2{
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    text-align: left;
    font-weight: 600;
    color:#0c0908;
}
p {
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-size: 15px;
    text-align:center;
    margin: 10px 10px 10px 10px;
    color:#0b1957;
    }

#Localizacion {
    position: relative;
    background-image:"imagenes/localizacion2.png";
    text-align: right;
    border-bottom: solid;
    border-bottom-color: rgb(133, 131, 131);
    width: 1000px;
    height: 50px;
}

#quienessomos {
        position: relative;
        background: linear-gradient(to left, #ffff, rgba(163, 237, 250, 0.6));
        border-top: solid;
        border-right: solid;
        border-color: rgb(133, 131, 131);
        width: 950px;
        height: 70px;
}
#descripcion {
    position: absolute;
    background: linear-gradient(to left, #ffff, rgba(163, 237, 250, 0.6));
    border-bottom: solid;
    border-left: solid;
    border-color:rgb(133, 131, 131);
    width: 60%;
    height: 50px;
    top: 428px;
    left: 350px;
    }

#redessociales{
    position: relative;
        background: linear-gradient(to left, #ffff, rgba(163, 237, 250, 0.6));
        border-bottom: solid;
        border-left: solid;
        border-color: rgb(133, 131, 131);
        width: 950px;
        height: 40px;
}

#redes{
    position: absolute;
    background: linear-gradient(to left, #ffff, rgba(163, 237, 250, 0.6));
    border-bottom: solid;
    border-right: solid;
    border-color: rgb(133, 131, 131);
    text-align: center;
    width: 60%;
    height: 60px;
    top: 510px;
    left: 240px;
}

#datos{
    position: relative;
    background: linear-gradient(to left, #ffff, rgba(163, 237, 250, 0.6));
    border-top: solid;
    border-right: solid;
    border-color: rgb(133, 131, 131);
    width: 950px;
    height: 80px;
}