footer{
    position: relative;
    width: 100%;
    background-color: #60b4df;
    color: white;
    padding-top: 0px;
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;

}

.container-body{
    display: flex;
    justify-content: space-between;
}
.column1{
    max-width: 400px;
}

.column1 h2{
    font-size: 22px;
}
.column1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}